body{
  background: #99CCFF;
  writing-mode: vertical-rl;
}

h1 {
  font-size: 80px;
  text-align:center;
}

span {
  text-combine-upright: all;
}

.mon2 {
  margin-right: 50px;
}

.seigo{
  font-size: 30px;
  margin-right: 15px;
}

.btn {
  /* width: 5vw; */
  width: 50px;
  /* height: 5vw; */
  height: 50px;
  background: #FFFFFF;
  border-radius: 50%;
  margin: 2px auto;
  text-align: center;
  /* line-height: 20vw; */
  /* line-height: 2vw; */
  line-height: 50px;
  color: #000000;
  font-weight: bold;
  /* font-size: 10vw; */
  /* font-size: 2vw; */
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
}

#btn1{
  margin-top: 50px;
  margin-left: 30px;
}

#btn12{
  margin-top: 50px;
  margin-left: 30px;
}

#btn23{
  margin-top: 50px;
  margin-left: 30px;
}

#btn34{
  margin-top: 50px;
  margin-left: 30px;
}

#btn41{
  margin-top: 50px;
  margin-left: 30px;
}

#btn52{
  margin-top: 50px;
  margin-left: 30px;
}

.image_size_o {
  width: 20vw;
  height: 20vw;
  margin-top: 60px;
  margin-right: 40px;
}

.yajirusi {
  font-size: 250px;
  text-align: center;
}

/* .container2 {
  margin-right: 180px;
} */

#btn:hover {
  opacity: 0.9;
}

#btn:active{
  box-shadow: 0 5px 0 #d1483e;
  margin-top: 35px;
}

#hanamaru {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#background {
  position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#fish {
  display: none;
}

#maru {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#maru2 {
  top: 90%;
  left: 30%;
  display: none;
}